{% extends "puzzle/base.html" %}
{% load static %}
{% block custom_head %}
<link rel="stylesheet" href="{% static 'puzzle/css/index.css' %}">
{% endblock %}

{% block content %}

<h3 id="nav-page-title"><a href="/" class="plain-link">PuzzleLearn</a></h3>

<div class="card-grid">
{% for item in display_list %}

    {% if item.type == 'static_question_collection' %}
    <a href="https://openmath.pythonanywhere.com/puzzle" target="_blank" class="card-link">
        <div class="card">
            <div class="title">Static Question Collection</div>
            <div class="folder-meta">A curated set of puzzles and activities for classroom.</div>
        </div>
    </a>
    {% endif %}

    {% if item.type == 'folder' %}
    <a href="{{ item.name }}/" class="card-link">
        <div class="card">
            <div>
                <div class="title">{{ item.display_name }}</div>
                <div class="folder-meta">{{ item.description|default:"A collection of puzzles and exercises." }}</div>
            </div>
        </div>
    </a>
    {% elif item.type == 'file' %}
    <a href="{{ item.name }}/" class="card-link">
        <div class="card">
            <img class="thumb" src="{{ item.picture_path }}" alt="{{ item.display_name }} preview">
            <div class="file-footer">
                <div class="title">{{ item.display_name }}</div>
            </div>
        </div>
    </a>
    {% endif %}

{% endfor %}
</div>

{% endblock %}

{% block custom_js %}
<script src="{% static 'puzzle/js/index.js' %}"></script>
{% endblock %}